{% extends 'base.html.twig' %}

{% block title %}
            Infinity A.R.D.Net - Accueil, Assemblage de composant pc, réparation et insistanstance , et développement web
{% endblock %}


{% block body %}
<header>
    <h1>INFINITY A.R.D.NET</h1>
    <h4>Assembly/Repair/Development</h4>
    <button>NOUS CONTACTER</button>
</header>

<section class="main" id="products">

    <div class="content">

        <div class="card">
            <div class="left">
                <h1>Assemblage & Pièces détachées</h1>
                <p>Créer votre ordinateur sur mesur selon vos besoin.</p>
            </div>

            <div class="right">
                <img src="{{asset('images/composant.jpg')}}" alt="composant pc">
            </div>
        </div>
        
        <div class="card">
            <div class="left">
                <h1>Réparation et Assistance</h1>
                <p>Aide par téléphone ou à domicile. réparation de votre matériel de bureau</p>
            </div>

            <div class="right">
                <img src="{{asset('images/aide_pc.jpg')}}" alt="composant pc">
            </div>
        </div>
        
        <div class="card">
            <div class="left">
                <h1>Développement web</h1>
                <p>Métter en avant votre entreprise en avant avec un site fait sur mesure ou via wordpress avec un choix de plusieur formule</p>
            </div>

            <div class="right">
                <img src="{{asset('images/developpement.jpg')}}" alt="composant pc">
            </div>
        </div>

    </div>

</section>

{% endblock %}
