{% extends 'base.html.twig' %}

{% block title %}
            Infinity A.R.D.Net - Accueil, Assemblage de composant pc, réparation et insistanstance , et développement web
{% endblock %}


{% block body %}
<header>
    <h1>INFINITY A.R.D.NET</h1>
    <h4>Assembly/Repair/Development</h4>
    <button>Parcourir</button>
</header>

{% endblock %}
